blinker
certifi
charset-normalizer
bson
click
colorama
dnspython
Flask
Flask-Bcrypt
Flask-Cors
Flask-PyMongo
idna
itsdangerous
Jinja2
MarkupSafe
pymongo
python-dateutil
six
Werkzeug
Flask-Bcrypt
flask-cors
requests
urllib3
